.join {
  @media (max-width: 480px){
    text-align: center;
    
  }
  
  @media (min-width: 1200px){
    margin-left: 95px;
    
  }
}

.join__us {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.join__list {
  
  display: flex;
  gap: 10px;

  @media (max-width: 480px){
   justify-content: center;
   margin-bottom: 60px;
    
  }
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--backrgound-link-footer);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

// .join__link:hover,
// .join__link:focus {
//   background-color: var(--accent-color);
// }
