/* footer */
.footer {
    background-color: var(--background-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
 
  .address-block{
    @media (min-width: 767px) and (max-width: 1199px){
      margin-right: 178px;
      margin-left: 75px;
    }
  }
  .footer__logo {
    display: block;
    color: var(--primary-white-color);
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    margin-bottom: 20px;
    @media (max-width: 1199px){
      text-align: center;
    }
    

    @media (min-width: 1200px){
      font-size: 26px;
      line-height: 1.2;
      
    }
  }
  .footer__accent {
    color: var(--accent-color);
  }
  .address {
    font-style: normal;

    @media (max-width: 1199px){
      text-align: center;
      margin-bottom: 60px;
    }
  }
  .address__location {
    display: block;
    color: var(--primary-white-color);
    margin-bottom: 9px;
  }
  
  .address__mail {
    display: block;
    color: var(--mail-color);
    margin-bottom: 9px;
  }
  .address__tel {
    color: var(--tel-color);
  }
  .address__location,
  .address__mail,
  .address__tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
