.menu_button-open,
.menu_button-close {
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu_button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding-top: 48px;
    padding-left: 40px;
    overflow-y: scroll;

    &.is-open {
      display: block;
    }
  }
}


.site-nav-item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 32px;
}}
.site-nav__list {
    @media screen and (max-width: 767px) {
    margin-bottom: 306px;
    
}}

.contact-list__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
        font-weight: 500;
font-size: 34px;
line-height: 1.18;

}}

.contact-list__item {
    font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;
}

.contact-list__icon {
    @media  screen and (max-width:767px) {
        display: none;
    }
}