.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  position: relative;
  @media screen and (max-width: 767px) {
    margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  margin-bottom: 30px;
  width: 100%;
  }

  @media screen and (min-width: 768px)and (max-width: 1199px) {
  max-width: 354px;
  width: 100%;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  margin-bottom: 30px;
  
  }
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    @media screen and (min-width: 768px)and (max-width: 1199px) {
      margin-left: 30px;
      }
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px)and (max-width: 1199px) {
      margin-bottom: 30px;
      }
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  .portfolio__item:hover & {
    transform: translateY(0);
  }
}
// .portfolio__item:hover .portfolio__text {
//   transform: translateY(0);
// }

.portfolio__photo {
  display: block;
  @media screen and (max-width: 767px) {
  width: 100%;
  }
}
.portfolio__border {
  padding-top: 20px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
// .portfolio__item:nth-child(3n) {
//   margin-right: 0;
// }
// .portfolio__item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

.portfolio__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-bottom: 4px;
}

.portfolio__form {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-left: 24px;
  margin-bottom: 20px;
}
