.section-work {
    padding-top: 0px;
  }
  .section-hero {
    // max-width: 1600px;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(../images/header_mobile.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--hero-background);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    @media (min-resolution: 2dppx) {background-image: url(../images/header_mobile@2x.jpg);}

    @media (min-width: 481px) {
       background-image: url(../images/header_tablet.jpg);}
      @media (min-resolution: 2dppx) 
         {background-image: url(../images/header_tablet@2x.jpg);}
      
      

      @media (min-width: 1200px) {
         background-image: url(../images/header_desktop.jpg)}
        @media (min-resolution: 2dppx) {
         background-image: url(../images/header_desktop@2x.jpg);}
      
        }